.skills {
    margin:var(--spacing-3) 0;
}
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.skills ul li {
    list-style-type:none;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.skills p {
    text-transform: uppercase;
}

.interest {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
